#sectionContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.5);
    height: 100vh;
    width: 500px;
    margin: auto;
    overflow: hidden;
}
#heading > h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}