#createNew{
    display: flex;
    justify-content: center;
}
#createTaskContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#createTask #createTaskContainer button.active{
    border-radius: 20px;
    border: 1px solid hsla(120, 100%, 50%, 0.66);
}
#createTask #createTaskContainer input,
#createTask #createTaskContainer button{
    display: inline;
    transform: translate(500px);
    color: white;
    font-size: 20px;
    padding: 0 20px;
    background-color: transparent;
    height: 50px;
    border: none;
    transition: 0.5s ease-in-out;
}
#createTask #createTaskContainer input.active,
#createTask #createTaskContainer button.active{
    cursor: pointer;
    transform: translate(100px);
}
#createTask input:focus{
    outline: none;
}
#addSection{
    transform: translate(-150px);
}
#addSection.active{
    transition: 0.5s ease-in-out;
    transform: translate(0);
}
#createTask img{
    cursor: pointer;
    height: 50px;
    width: 50px;
    transform: translate(-50px);
    transition: 0.5s ease-in-out;
    position: absolute;
}
#addSection p{
    pointer-events: none;
    transition: 0.5s ease-in-out;;
}
#createTask img.active{
    transition: 0.5s ease-in-out;
    filter: brightness(1) opacity(0.3);
    transform: translate(30px) rotate(45deg);
}
#addSection p.active{
    position: relative;
    transform: translate(500px);
}