#createNew{
    display: flex;
    justify-content: center;
}
#createTaskContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#createTask input{
    color: white;
    font-size: 20px;
    padding: 0 20px;
    background-color: transparent;
    height: 50px;
    border: none;
}
#createTask input:focus{
    outline: none;
}
#createTaskContainer img{
    filter: invert(100%);
    cursor: pointer;
    height: 50px;
    width: 50px;
    transform: translate(-3rem);
}